*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#f5f7fa;
}


header{
display:flex;
justify-content:space-between;
align-items:center;
background:#800020;
color:white;
padding:15px 40px;
position:sticky;
top:0;
z-index:1000;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:500;
}

nav ul li a:hover{
text-decoration:underline;
}


.menu-btn{
display:none;
font-size:25px;
cursor:pointer;
}


.slider{
position:relative;
height:420px;
overflow:hidden;
}

.slide{
display:none;
position:absolute;
width:100%;
height:100%;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
}

.slide.active{
display:block;
}

.texto-slider{
position:absolute;
bottom:40px;
left:40px;
color:white;
background:rgba(0,0,0,0.5);
padding:20px;
border-radius:8px;
}


.intro{
padding:60px;
text-align:center;
max-width:900px;
margin:auto;
}


.talleres,
.eventos,
.galeria,
.contacto,
.ubicacion{
padding:60px;
text-align:center;
}

.contenedor{
display:flex;
justify-content:center;
gap:25px;
margin-top:30px;
flex-wrap:wrap;
}


.card,
.evento{
background:white;
padding:25px;
border-radius:12px;
width:250px;
box-shadow:0 5px 12px rgba(0,0,0,0.1);
transition:transform .3s;
}

.card:hover,
.evento:hover{
transform:translateY(-5px);
}


.contenedor-galeria{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.contenedor-galeria img{
width:300px;
border-radius:10px;
transition:transform .3s;
cursor:pointer;
}

.contenedor-galeria img:hover{
transform:scale(1.05);
}


.contacto form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
gap:12px;
}

.contacto input,
.contacto textarea{
padding:12px;
border-radius:6px;
border:1px solid #ccc;
}

.contacto button{
background:#800020;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}


footer{
background:#1e1e1e;
color:white;
padding:40px;
margin-top:40px;
}

.footer-container{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
gap:20px;
}


@media(max-width:768px){

nav ul{
display:none;
flex-direction:column;
background:#800020;
position:absolute;
top:60px;
right:0;
width:200px;
}

nav ul.show{
display:flex;
}

.menu-btn{
display:block;
}

}

.btn-whatsapp{
background:#25D366;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
width:200px;
}

.btn-whatsapp:hover{
background:#1ebe5d;
}